<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo title=false -%}
  <title>{%- if page.title -%}{{page.title}} | {{site.title}}{%- else -%}{{site.title}}{%- endif -%}</title>
  <link rel="stylesheet" href="{{ " /assets/css/style.css" }}">
  <link rel="icon" type="image/png" href="{{ " /assets/favicon.png" | relative_url }}" />
  <meta name="google-site-verification" content="DiXEB7EM1azgI5PAyoE4yt1lj8X7rkAKwkmpCHlzoPs" />
  <script src="{{ '/assets/js/theme-toggle.js' | relative_url }}"></script>
  {%- feed_meta -%}
</head>