---
---

@use "maple";

@use "variables" as *;
@use "mixins";
@use "post";
@use "board";
@use "code";

.color-in-case-i-make-it::hover {
    color: $color-in-case-i-make-it;
}

.color-cheese-in-the-great-beyond::hover {
    color: $color-cheese-in-the-great-beyond;
}

.site-nav ul {
    flex-wrap: wrap;
}
