---
---
@use "maple";


$color-in-case-i-make-it: #D98D00;
$color-cheese-in-the-great-beyond: #B47821;

.color-in-case-i-make-it::hover {
    color: $color-in-case-i-make-it;
}

.color-cheese-in-the-great-beyond::hover {
    color: $color-cheese-in-the-great-beyond;
}

// .root {
//     --in-case-i-make-it: $color-in-case-i-make-it;
//     --cheese-in-the-great-beyond: $color-cheese-in-the-great-beyond;
// }

.post img {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: block;
}

.post .post-title {
    font-size: 38px;
}
