---
layout: page
---
<h1>Articles</h1>
{% assign posts_count = paginator.total_posts %}
{% if posts_count > 0 %}   
    <div class="post-links">
      {% for post in paginator.posts %}
        <div class="post-link-wrapper">
          <a href="{{ post.url | relative_url }}" class="post-link">{{ post.title }}</a>
          <div class="post-meta">

            <div class="post-tags">
                {% for tag in post.tags %}
                <a class="tag" href="{{ tag | tag_url | downcase }}">{{ tag }}</a>
                {% endfor %}
            </div>
            {% if site.dash.date_format %}
              {{ post.date | date: site.dash.date_format }}
            {% else %}
              {{ post.date | date: "%b %-d, %Y" }}
            {% endif %}
            {% if site.show_excerpts == true %}
              <div class="post-excerpt">
                {{ post.content | strip_html | truncatewords: 50 }}
              </div>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>

    {% include pagination.html %}
    <h1>All tags</h1>
    {% include tags.html %}

{% else %}
This place is empty... It's awful out here, Socrates.
{% endif %}
