---
layout: default
---
{% assign posts_count = paginator.total_posts %}
<h1>Projects</h1>
<section class="projects-section">
  <div class="card-grid">
    {% for project in site.projects %}
    {% capture project_image %}
    {{'/media/projects/'}}{{ "$reponame" | replace: "$reponame", project | split: "/" | last }}.png
    {% endcapture %}
    
    <div class="card">
      <div class="card-image-wrapper">
        <a href="{{ project }}">
          <img src="{{ project_image }}" class="card-image" alt="Image for {{ project }}" />
        </a>
      </div>

      <!-- Section 2: Project Info -->
      <div class="card-content" style="text-align: center;"">
        <h3>
          <a href="{{ project }}">{{ project | split: '/' | last }}</a>
        </h3>
      </div>

    </div>
    {% endfor %}
  </div>
</section>

<h1>Recent articles</h1>
{% if posts_count > 0 %}

{% include articles.html %}

{% else %}
It seems like there's nothing in here yet... mmh.
{% endif %}